@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* Assignment 1 | COMP1073 Client-Side JavaScript */

/* Set up the initial background color */
html {
    background-color: darkslateblue;
}

/* Display all items vertically and align them in the center */
body {
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    background: rgb(255,255,255);
    background: linear-gradient(48deg, rgba(255,255,255,1) 7%, rgba(248,255,78,1) 37%, rgba(238,76,199,1) 94%);

    align-items: center;
}

/* Horizontally align the submission buttons */
.submitButtons {
    display: flex;
}

/* Style the submission buttons */
body button {
    height: 5em;
    width: 12em;
    border-radius: 1em;
    margin: 1em;
}

/* Display the story buttons Horizontally */
.buttonContainer {
    display: flex;
}

/* Style the story buttons */
.buttonContainer button {
    width: 10em;
    height: 8em;
    margin: 2em;
    border-radius: 1em;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

/* Style the story font */
h2 {
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: #2e2e2e;
}
